<div class="home">

  <div class="title">
    <h1>LureReview</h1>
  </div>

  <div class="description">
    <h2>ルアーのレビューサイト！
    <br>他のアングラーの意見を取り込んで
    <br>更なる釣果を！</h2>
  </div>
  
  <%=link_to lures_path, class: "Editlink" do %>
    <div class="home-btn">
      Go to review !
    </div>
  <% end %>

</div>