// Place all the styles related to the reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.star-box {
  margin-left: 35px;
}

.star-rating {
  position: relative;
  font-size: 25px;
  width: 5em;
  height: 1em;
}

.star-rating-front {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  color: black;
}

.star-rating-back{
  color: #cccccc;
}

.review{
  width: 500px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  padding: 35px 0px 15px 0px;
  border-radius: 3px;
  text-align: center;
}

.review-p {
  size: 4px;
  margin-top: 7px;
  margin-bottom: 10px;
}

.rating-box {
  margin-top: 3px;
}

.ratings {
  margin-bottom: 3px;
}

.ratings .fa {
  font-size: 25px;
  cursor: pointer;
}

.rating-form {
  padding-bottom: 10px;
}

.rathing-value-display {
  margin-left: 3px;
  margin-bottom: 10px;
  
}

.textarea {
  width: 300px;
  height: 100px;
  
}

.button {
  margin-top: 3px;
  background-color: rgb(27, 27, 27);
  border-radius: 3px;
  color: white;
}

.back {
  padding: 4px;
}

.lure-reviews {
  display: flex;
  justify-content: center;
}

.lure-card-reviews {
  width: 500px;
}

.all-reviews {
  width: 200px;
  margin-top: 30px;
  padding-top: 65px;
  margin-left: 10px;
  background-color: rgb(223, 219, 219);
  text-align: center;
  border-radius: 3px;
}

.star-rating {
  margin-bottom: 20px;
}

.reviews-content {
  margin-top: 25px;
}

.back-reviews {
  margin-top: 10px;
}

.raviews-box {
  text-align: center;
}

.table {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 710px;
  background-color: white;
  text-align: center;
  border-radius: 3px;
  padding-bottom: 10px;
}