<div class="lure-card">
  <div class=lure-card-box>

    <img src="/assets/<%= @lure.image %>" class="lure-img-card" >
    <div class="lure-name-card">
      <%= @lure.name %>
    </div>

  </div>
</div>